#root {
  max-width: 1280px;
  padding: 2rem 3rem;
  text-align: center;
  background-color: rgba(38, 44, 63, 0.985);
  border-radius: 30px;
  border: 2px solid rgb(15, 19, 30);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  padding: 2rem;
}

nav {
  align-self: flex-end;
  display: flex;
  flex-direction: row;
  margin-bottom: 1.5rem;
}

.navButton {
  justify-content: space-evenly;
  margin: 0.5rem;
  margin-bottom: 2rem;
  padding: 0.5rem;
}

.navButton:hover {
  background-color: rgb(254, 226, 69);
  outline: none;
  color: rgb(33,33,41);
}

@media screen and (max-width: 650px){
  #root {
    max-width: 300px;
    padding: 2rem 1rem 3rem;
  }
}

@media (min-width: 651px) and (max-width: 1024px){
  #root {
    max-width: 500px;
    padding: 3rem;
    margin: 2rem;
  }
}