#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 5rem;
  text-align: center;
  background-color: rgba(38, 44, 63, 0.985);
  border-radius: 30px;
  border: 2px solid rgb(15, 19, 30);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  padding: 2rem;
}

@media screen and (max-width: 650px){
  #root {
    max-width: 300px;
    padding: 2rem 1rem 3rem;
  }
}