:root {
  font-family: "Geologica", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgb(226, 232, 240);
  background-color:rgb(33,33,41);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 75vh;
}

h1 {
  font-size: 4rem;
  line-height: 1.1;
  margin-bottom: 3rem;
}

p {
  font-size: 1.5rem;
  margin: 1rem;
}

span {
  font-weight: 100;
}

button {
  background-color: rgba(102, 128, 185, 0.66);
  color: rgb(237, 239, 244);
  border: 2px solid rgba(66, 80, 131, 0.949);
  border-radius: 8px;
  padding: 0.4rem;
  cursor: pointer;
  font-weight: bold;
}


@media screen and (max-width: 650px){
  body {
    margin: 1rem;
    justify-content: center;
  }
  h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
  }
  
  p {
    font-size: 1rem;
  }

  button {
    padding: 0.1rem;
    border: 1px;
  }
}

@media (min-width: 651px) and (max-width: 1024px){
  h1 {
    font-size: 3.5rem;
    margin-bottom: 2rem;
  }

  button {
    padding: 0.1rem;
    border: 1px;
  }
}